<div class="page-header page-header-small">
    <div class="page-header-image rellax-header">
    </div>
    <div class="container">
        <div class="content-center text-center">
            <h1 class="title">Ultimate Reddit Bot</h1>
            <label> The <b>best</b> reddit integration for your discord server</label>
            <a class="btn btn-primary btn-round btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=714492192319733811&permissions=2048&scope=bot" target="_blank">Add to discord</a>
        </div>
    </div>
</div>