# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UltimateRedditBot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\.NET\Refactor\UltimateRedditBot\.idea\.idea.UltimateRedditBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
